@model IEnumerable<VINATECH.Models.Category>
@{
    ViewData["Title"] = "Danh mục";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo danh mục mới</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Tên danh mục</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Xem</a>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
